<h1 class="nav">Docya User Guide</h1>
<h1>Login</h1>
<p>Note: If you are a existing user </p>
<ul>
<li>you can able to login with your email and password into application</li>
<li>If you are not an existing user please use register link to register into application</li>
</ul>

 
 <h2> Registration</h2>
 Note: For New users
 
 <ul>
    <li>go to Registration page</li>
    <li>fill the mandatory details in the registration form to register</li>
    <li> Submit the form</li>
    <li>Use those mail and password credentials to login with the application</li>
 </ul>
 <h2>User dash board</h2>
 (user Profile)
<ul>
    <li>You can see your profile in the profile section.</li>
    <li>You have an access to change password and some fields related to Your profile.</li>
    <li>You can able to book appointment with the doctors</li>
    <li>You have an access to cancel an appointment at any time</li>
    <li>You can able to see your Reports,Medication,Previous Appointment history and Test Reports</li>
    <li>you can able to login into account at anytime we provide services 24/7. </li>
    <li>You doesnt have any access to edit the changes related to the Medications.</li>
    <li>You can see the amount that you have paid for  every appointment </li>
</ul>


<footer class="foot" style="background-color: cream;">&copy; CopyRight by Docya 2023</footer>
