<h1 class="nav">Docya User Guide</h1>
<h1>Login</h1>
<p>Note: If you are a existing user </p>
<ul>
<li>you can able to login with your email and password into application</li>
<li>If you are not an existing user please use register link to register into application</li>
</ul>

 
 <h2> Registration</h2>
 Note: For New users
 
 <ul>
    <li>go to Registration page</li>
    <li>fill the mandatory details in the registration form to register</li>
    <li> Submit the form</li>
    <li>Use those mail and password credentials to login with the application</li>
 </ul>
 <h2>User dash board</h2>
 (user Profile)
<ul>
    <li>You can see your profile in the profile section.</li>
    <li>You have an access to change password and some fields related to Your profile.</li>
    <li>You can able to book appointment with the doctors</li>
    <li>You have an access to cancel an appointment at any time</li>
    <li>You can able to see your Reports,Medication,Previous Appointment history and Test Reports</li>
    <li>you can able to login into account at anytime we provide services 24/7. </li>
    <li>You doesnt have any access to edit the changes related to the Medications.</li>
    <li>You can see the amount that you have paid for  every appointment </li>
</ul>


<footer class="foot" style="background-color: cream;">&copy; CopyRight by Docya 2023</footer>
<h1>Doc<svg style="height: 30px; width:30px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M142.4 21.9c5.6 16.8-3.5 34.9-20.2 40.5L96 71.1V192c0 53 43 96 96 96s96-43 96-96V71.1l-26.1-8.7c-16.8-5.6-25.8-23.7-20.2-40.5s23.7-25.8 40.5-20.2l26.1 8.7C334.4 19.1 352 43.5 352 71.1V192c0 77.2-54.6 141.6-127.3 156.7C231 404.6 278.4 448 336 448c61.9 0 112-50.1 112-112V265.3c-28.3-12.3-48-40.5-48-73.3c0-44.2 35.8-80 80-80s80 35.8 80 80c0 32.8-19.7 61-48 73.3V336c0 97.2-78.8 176-176 176c-92.9 0-168.9-71.9-175.5-163.1C87.2 334.2 32 269.6 32 192V71.1c0-27.5 17.6-52 43.8-60.7l26.1-8.7c16.8-5.6 34.9 3.5 40.5 20.2zM480 224a32 32 0 1 0 0-64 32 32 0 1 0 0 64z"/></svg>a</h1>