<p>
  <mat-toolbar style="background-color: skyblue; height: 120px; border-radius: 5px;">
    <div>
      <img style="height: 40px;width: 200px; padding-left: 15px; padding-top: 15px; border-radius: 25px;" src="../assets/image/icon.jpg" alt="Logo">
   </div>
   
    <ul style="text-decoration: none; list-style: none; display: flex; padding-top: 30px; margin-left: 420px;">
      <a href="patientdb/" style="text-decoration: none; color: black; margin-left: 350px;"><li><mat-icon matTooltip="dashboard" style="transform: scale(1.5);">dashboard</mat-icon></li>
      
      </a>
      <a href="patienthistory/" style="text-decoration: none; color: black; margin-left: 30px;"> <li style="text-decoration: none;"><mat-icon matTooltip="Previous_medical_history" style="transform: scale(1.5);">history</mat-icon></li></a>
   <a href="pprofile/"><li style=" text-decoration: none;color: black; margin-left: 30px;"><mat-icon matTooltip="Profile" style="transform: scale(1.5);">person</mat-icon></li></a>
     <a href="login/" style="text-decoration: none; color: black; margin-left: 30px;"><li><mat-icon matTooltip="logout" style="transform: scale(1.5);">logout</mat-icon></li></a> 
    </ul>
  </mat-toolbar>
</p>
<div class="card">
  <!-- <h1>{{ greetingMessage }} Doctor</h1> -->
  
  
  <h1 style="text-align: center; padding-top: 170px;">{{ greetingMessage }} Welcome To You Dashboard</h1>
   
