<p>
  <mat-toolbar style="background-color: grey; height: 120px; border-radius: 5px;">
    <button mat-icon-button class="example-icon" aria-label="local_hospital">
      <mat-icon>local_hospital</mat-icon>
    </button>
    <span>Dockya Hospital</span>
    <ul style="text-decoration: none; list-style: none; display:flex ; margin-left: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="patientdb/" style="text-decoration: none; color: black;"><li style="margin-left: 5px; ">Dashboard</li></a> &nbsp;&nbsp;
      <a href="patienthistory/" style="text-decoration: none; color: black;"> <li style="text-decoration: none;">View-History</li></a>
   <a href="pprofile/"><li style="margin-left: 25px;"><mat-icon>account_circle</mat-icon></li></a>
     <a href="login/" style="text-decoration: none; color: black;"><li style="margin-left: 25px;">Logout</li></a> 
    </ul>
  </mat-toolbar>
</p>
<div class="card">
  <!-- <h1>{{ greetingMessage }} Doctor</h1> -->
  <h4>Good Evening! (Patient name)</h4>
    <p>Booked Appoinments You</p>
    
    <button mat-raised-button (click)="openDialog()" color="primary"class="button">Book Appointment</button>
    <br><br>
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Implicit Column -->
        <ng-container matColumnDef="serialno">
          <th mat-header-cell *matHeaderCellDef> S.NO </th>
          <td mat-cell *matCellDef="let data"> {{data.serialno}} </td>
        </ng-container>
      
        <!-- Index Column -->
        <ng-container matColumnDef="doctor">
          <th mat-header-cell *matHeaderCellDef> Doctor </th>
          <td mat-cell *matCellDef="let data"> {{data.doctor}} </td>
        </ng-container>
      
        <!-- Count Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let data"> {{data.date | date }} </td>
        </ng-container>
      
        <!-- First Column -->
        <!-- <ng-container matColumnDef="disease">
          <th mat-header-cell *matHeaderCellDef> Disease </th>
          <td mat-cell *matCellDef="let data "> {{data.disease}} </td>
        </ng-container> -->
      
        <!-- Last Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let data"> {{data.status}} </td>
        </ng-container>
    
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
</div>
