<div>
    <mat-dialog-content>
        <table><tr>
            <td><mat-form-field class="notes" style="width: 427px;">
              <mat-label>Email ID</mat-label>
              <input matInput name="text" required>
            </mat-form-field></td>
          </tr>
          </table>
        <table class="example-full-width" cellspacing="3"><tr>
            <td><mat-form-field class="example-full-width">
              <mat-label>First Name</mat-label>
              <input matInput name="text" required>
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
              <mat-label>Last Name</mat-label>
              <input matInput name="text" required>
            </mat-form-field></td>
            </tr>
          </table>
          <table class="example-full-width" cellspacing="3"><tr>
            <td><mat-form-field class="example-full-width">
              <mat-label>Age</mat-label>
              <input matInput name="text" required>
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
              <mat-label>Phone Number</mat-label>
              <input matInput name="number" required>
            </mat-form-field></td>
            </tr>
          </table>
          <table><tr>
            <td><mat-form-field class="notes" style="width: 427px;">
              <mat-label>Address</mat-label>
              <textarea matInput placeholder="Ex. Addres..Door no.">12 road, Big street, Hyderabad</textarea>
            </mat-form-field></td>
          </tr>
          </table>
          <div class="button" align="end">
            <button mat-button mat-dialog-close class="saved">Save</button>
            <button mat-button mat-dialog-close class="save">Cancel</button>
          </div>
    </mat-dialog-content>
</div>

