<div class="container">
    <mat-card class="card">
        <mat-card-content>
            <form class="example-form" style="width: 500px;">
                             
                <table class="example-full-width" cellspacing="3"><tr>
                  <td><mat-form-field class="example-full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput name="text" required>
                  </mat-form-field></td>
                  <td><mat-form-field class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput name="text" required>
                  </mat-form-field></td>
                  </tr>
                </table>
                <table class="example-full-width" cellspacing="3"><tr>
                    <td><mat-form-field class="example-full-width">
                      <mat-label>Qualification</mat-label>
                      <input matInput name="text" required>
                    </mat-form-field></td>
                    <td><mat-form-field class="example-full-width">
                      <mat-label>Email ID</mat-label>
                      <input matInput name="text" required>
                    </mat-form-field></td>
                    </tr>
                  </table>
                <table class="example-full-width" cellspacing="3"><tr>
                    <td><mat-form-field class="example-full-width">
                      <mat-label>Blood Group</mat-label>
                      <input matInput name="text" required>
                    </mat-form-field></td>
                    <td><mat-form-field class="example-full-width">
                      <mat-label>Experience</mat-label>
                      <input matInput name="number" required>
                    </mat-form-field></td>
                    </tr>
                </table>
                <table class="example-full-width" cellspacing="3"><tr>
                  <td><mat-form-field class="example-full-width">
                    <mat-label>Specialist</mat-label>
                    <input matInput name="text" required>
                  </mat-form-field></td>
                  <td><mat-form-field class="example-full-width">
                    <mat-label>Contact Number</mat-label>
                    <input matInput name="number" required>
                  </mat-form-field></td>
                  </tr>
              </table>
            </form>
            <mat-form-field class="example-full-width">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Ex. Famous for Cardilogist ...">Specialist in ...</textarea>
              </mat-form-field>
        </mat-card-content>
        <div >
            <button mat-button mat-dialog-close class="saved" style="color: black; margin-left: 160px;">Save</button>&nbsp;&nbsp;
            <button mat-button mat-dialog-close class="save">Cancel</button>
        </div>
            
    </mat-card>
</div>
