<nav></nav>
 <ul>
    <a href="viewdoctor/"><button mat-button>View Doctors</button></a>&nbsp;
    <a href="viewnurse/"><button mat-button>View Nurse</button></a>
    <a href="viewpatients/"><button mat-button>View Patients</button></a>
    
        <button mat-button (click)="openDialog()">Add Doctor</button>
      
        <button mat-button (click)="openDialog()">Add Nurse</button>
      
</ul>
<a href="adminprofile/">Profile</a>
<div class="logout">
<mat-icon><a href="login/">logout</a></mat-icon>
</div>

