body {
    margin: 0;
    font-family: sans-serif;
    background: #e7e7e7;
  }
  
  .main-nav {
    background: skyblue;
    padding: 1em;
    padding-bottom: 4em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  .main-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .main-nav ul li {
    width: 100px;
    display: inline-block;
    color: #fff;
    padding: 1.5em 1em;
    text-align: center;
    border-radius: 10px;
    margin-right: 1em;
    cursor: pointer;
  }
  .main-nav ul li:last-of-type {
    margin-right: 0;
  }
  .main-nav ul li:hover {
    background: #525252;
  }
  .main-nav ul li i {
    display: block;
    font-size: 2.5em;
  }
  .main-nav ul li span {
    display: block;
    margin-top: 1em;
  }
  
  .content {
    width: 90%;
    height: auto;
    background: #fff;
    margin: 0 auto;
    margin-top: -3em;
    box-shadow: 0px 0px 10px 0px rgba(46, 42, 42, 0.2);
    border-radius: 5px;
    padding: 1em;
  }
  .content h2.title {
    margin: 0;
    padding-bottom: 0.4em;
    border-bottom: 1px solid grey;
  }
  h1{
    
    height: 50px;
    width: 50px;
    border: 2px solid #263c47;
    border-radius:50px;
    text-align: center;
    font:32px Arial,sans-serif;
    margin: 30px auto 30px auto;
    background-color:rgb(163, 202, 247);
    color: #0a0101;
}