<mat-card style="width: 300px; align-items: center; margin-left: 450px; margin-top: 150px;">
    <mat-card-header>
      <mat-card-title>Forgot Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <form (ngSubmit)="onSubmit()"></form>
        <mat-form-field style="padding: 15px;">
          <input matInput type="email" placeholder="Email" required>
        </mat-form-field>
        <br>
        <button mat-raised-button type="submit" style="margin-left: 80px; background-color: skyblue;">Submit</button>
      </form>
      <p *ngIf="emailExists">Email exists!</p>
    <p *ngIf="!emailExists">Email does not exist!</p>
    </mat-card-content>
  </mat-card>
  